body {
    display: grid;
    height: 100vh;
    margin: 0;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 5fr;
    grid-template-areas: 
    "dashboard header header"
    "dashboard projects sidebar";
    font-family: "Roboto";
}

.dashboard {
    grid-area: dashboard;
    grid-row: 1 / 3;
    background-color: #0ea5e9;
    color: white;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

.dashboard > .toprow {
    display: flex;
    gap: 1vw;
    margin-left: 1vw;
    margin-bottom: 2vh;
    margin-top: 1.5vh;
    align-items: center;
}

.dashboardTitleImg {
    filter: invert(100%);
    height: 7vh;
}

.dashboardTitle {
    font-size: 3vmin;
}

.dashboard > .row {
    display: flex;
    gap: 2vw;
    margin-left: 2vw;
    align-items: center;
    cursor: pointer
}

.dashboard > .row > .img {
    filter: invert(100%);
    height: 4vh;
}

.dashboard > .separator {
    margin-bottom: 5vh;
}

.header {
    grid-area: header;
    grid-column: 2 / 4;
    background-color: red;
}

.projects {
    grid-area: projects;
    background-color: brown;
}

.sidebar {
    grid-area: sidebar;
    background-color: black;
}